/* afon #FFFFFF */
/*  blue #2196f3 */
/* fon footer #2F303A */
/* big text #212121 */
/* little text #757575 */

:root {
  --accent-colour: #2196f3;
  --title-colour: #212121;
  --text-colour: #757575;
}
body {
  background-color: #ffffff;
  color: var(--text-colour);
}

.logo {
  color: var(--accent-colour);
}

.list {
  list-style: none;
}

/* site nav */
.site-nav .link {
  color: var(-title-colour);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-colour);
}

/* Hero */
.hero-title {
  color: #ffffff;
}

.hero {
  background-color: #2f303a;
}

/* Section */
.section-title {
  color: var(--title-colour);
}
.transparent-title {
  color: rgb(225, 0, 0, 0);
}
